<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home page</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <script type="text/javascript" src="../static/js/top_movie.js"></script>
  <script type="text/javascript" src="../static/js/top_movie_details.js"></script>
</head>
<body>
<div class="top_rated">
  <h2>Top rated film </h2>
</div>
<div class="row">
  <h2>JustStreamIt Originals</h2>
  <div class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
  </div>
</div>
<div class="row">
  <h2>The best rated films</h2>
  <div class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
  </div>
</div>
<div class="row">
  <h2>Comedy films</h2>
  <div class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
  </div>
</div>
<div class="row">
  <h2>Horror film</h2>
  <div class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
    <img src="../static/img/movie.jpg" alt="" class="row_posters">
  </div>
</div>
</body>
</html>