<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
  <title>Index</title>
  <link rel="stylesheet" type="text/css" href="../static/css/header.css">
  <link rel="stylesheet" type="text/css" href="../static/css/top.css">
  <link rel="stylesheet" type="text/css" href="../static/css/categorie1.css">
  <link rel="stylesheet" type="text/css" href="../static/css/categorie2.css">
  <link rel="stylesheet" type="text/css" href="../static/css/categorie3.css">
  <link rel="stylesheet" type="text/css" href="../static/css/categorie4.css">
</head>
<body>
  <!-- Header -->
  <header class="header">
    <div class="child">
      <img src="../static/img/juststreamit.png" class="logo">
      <!--<a href="#" class="link1">Acceuil</a>
     <a href="#" class="link2">Categories</a>-->
    </div>
  </header>

  <!-- top movie -->
  <div class="top-movie-parent">
    <div class="item">
      <img src="">
      <h1 class="title"></h1>
      <div class="description"></div>
      <div class="btn-more">
        <button>More</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/top/api.js"></script>

  <!-- Cactegorie 1 -->
  <div class="parent">
    <div class="categorie-title">Top ranted</div>
    <div class="leftarrow" onclick="moveLeft1()">
      <button class="btn-ranted-lt">&lt;</button>
    </div>
    <div class="child">
      <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
    </div>
    <div class="rigtharrow" onclick="moveRight1()">
      <button class="btn-ranted-gt">&gt;</button>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/categorie1/slider.js"></script>
  <script type="text/javascript" src="../static/js/categorie1/api.js"></script>

    <!-- Cactegorie 2 -->
  <div class="parent2">
    <div class="categorie-title">Action</div>
    <div class="leftarrow" onclick="moveLeft2()">
      <button class="btn-ranted-lt">&lt;</button>
    </div>
    <div class="child2">
      <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
    </div>
    <div class="rigtharrow" onclick="moveRight2()">
      <button class="btn-ranted-gt">&gt;</button>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/categorie2/slider.js"></script>
  <script type="text/javascript" src="../static/js/categorie2/api.js"></script>

  <!-- categorie 3 -->
  <div class="parent3">
    <div class="categorie-title">Adventure</div>
    <div class="leftarrow" onclick="moveLeft3()">
      <button class="btn-ranted-lt">&lt;</button>
    </div>
    <div class="child3">
      <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
      <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
    </div>
    <div class="rigtharrow" onclick="moveRight3()">
      <button class="btn-ranted-gt">&gt;</button>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/categorie3/slider.js"></script>
  <script type="text/javascript" src="../static/js/categorie3/api.js"></script>

  <!-- categorie 4 -->
  <div class="parent4">
    <div class="categorie-title">Animation</div>
    <div class="leftarrow" onclick="moveLeft4()">
      <button class="btn-ranted-lt">&lt;</button>
    </div>
    <div class="child4">
      <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
       <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
      <div class="item">
        <img src="">
        <div class="title"></div>
      </div>
    </div>
    <div class="rigtharrow" onclick="moveRight4()">
      <button class="btn-ranted-gt">&gt;</button>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/categorie4/slider.js"></script>
  <script type="text/javascript" src="../static/js/categorie4/api.js"></script>

</body>
</html>
