body {
  margin: 0;
  font-family: sans-serif;
  background: black;
}

* {
  box-sizing: border-box;
}

.categorie2 {
  width: 100%;
  float: left;
  overflow: hidden;
}

.categorie2 .categorie2-container {
  width: 100%;
  float: left;
  transition: margin 1s ease;
}

.categorie2 .item {
  height: 268px;
  background-color: grey;
  float: left;
}

.categorie2 .item img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 182px;

  height: 268px;
  background-color: grey;
  line-height: 250px;
  text-align: center;
  font-size: 50px;
  color: #ffffff;
}

.btn-ranted-lt {
  position: relative;
  top: 282px;
  width: 30px;
  height: 268px;
  float: left;
}


.btn-ranted-gt {
  position: relative;
  top: 282px;
  width: 30px;
  height: 268px;
  float: right;
}