.parent2 {
  transition: margin 5s ease;
  position: relative;
  width: 100%;
  height: 400px;
}
.parent2 .child2 {
  position: absolute;
  display: flex;
  width: 738px;
  overflow: hidden;
  top: 50px;
  left: 20%;
  right: 20%;
}
.parent2 .child2 img {
  margin: 2px;
  cursor: pointer;
}
.btn-ranted-gt {
  cursor: pointer;
  position: absolute;
  top: 52px;
  right: 20%;
  width: 20px;
  height: 268px;
}
.btn-ranted-lt {
  cursor: pointer;
  position: absolute;
  top: 52px;
  left: 18.5%;
  width: 20px;
  height: 268px;
}

.child2 .item .title {
  background-color: black;
  text-align: center;
  color: white;
}

.parent2 .categorie-title {
  position: absolute;
  top: 25px;
  left: 250px;
}