
* {
  background-color: black;
}

.parent {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 300px;
}
.parent .child {
  position: absolute;
  display: flex;
  overflow: hidden;
  top: 30px;
  width: 738px;
  left: 250px;
}
.parent .child img {
  margin: 2px;
  cursor: pointer;
}
.parent .leftarrow {
  background-color: grey;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 228px;
  width: 20px;
  height: 268px;
}

.parent .rigtharrow {
  background-color: grey;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 990px;
  width: 20px;
  height: 268px;
}

.child .item .title {
  background: none;
  position: absolute;
  color: white;
  bottom: 5px;
}

.parent .categorie-title {
  color: white;
  position: absolute;
  top: 0px;
  left: 250px;
}