.info-parent {
	width: 100%;
	color: white;
	position: relative;
}
.info-parent a button {
	color: white;
}
.info-parent img {
	position: absolute;
	top: 30px;
	left: 30px;
	width: 202px;
	height: 288px;
}
.info-parent h1 {
	color: white;
	position: absolute;
	top: 30;
	left: 268px;
}
.info-parent .description {
	color: grey;
	position: absolute;
	width: 50%;
	top: 50px;
	left: 268px;
}
.info-parent .info-child {
	position: absolute;
	top: 170px;
	width: 50%;
	color: white;
	left: 268px;
	font-family: arial;
}
.info-parent .info-child ul {
	list-style-type: none;
}
.info-parent .info-child li{
	margin: 1px;
}



