.top-movie-parent {
  margin-top: 50px;
  height: 300px;
  width: 100%;
 }
.top-movie-parent .item {
  color: white;
  position: relative;
  background-color: black;
  width: 100%;
  height: 100%;
}
.top-movie-parent .item img {
  position: absolute;
  top: 0;
  left: 18%;
  width: 219px;
  height: 100%;
}
.top-movie-parent .item h1 {
  position: absolute;
  top: 0;
  left: 40%;
  font-size: 5em;
}

.top-movie-parent .item .description {
  position: absolute;
  top: 150px;
  left: 40%;
  width: 40%;
}

.top-movie-parent .item .btn-more {
  position: absolute;
  left: 40%;
  top: 230px;
}
.top-movie-parent .item .btn-more button {
  background-color: grey;
  color: white;
}